*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100vh;
}
.container{
    background-color:#717171;
    max-width: 50vw;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 2.671px;
   

box-shadow: 0px 2.671px 5.342px 0px rgba(171, 190, 209, 0.40);
}
h1{
    color: #F5F7FA;
}
input{
    padding: 3px 4px;
    border-radius: 5px;
border: none;    outline: 1px solid #C8E6C9;

}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    background-color: #F5F7FA;
    border-radius: 2px;
    box-shadow: 0px 2.671px 5.342px 0px rgba(171, 190, 209, 0.40);
}

li{
    background-color: #4CAF4F;
    padding: 5px;
    color: white;
}

.list-item{
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.list-item:hover{
    background-color: blue;

}
.new-list-item{
    border-radius: 10px;
    padding: 7px;
    background-color: #388E3B;
    color: white;

}
button{
        padding: 5px 7px;
        border-radius: 5px;
        border: none;
        background-color:#1B5E1F;
        color: #E8F5E9;
        font-size: large;
        cursor: pointer;
}